$black = #000000;
$dark-indigo = #070b37;
$red = #ff0000;
$white = #ffffff;
$white-two = #f2f2f2;
$white-tree = #ebebeb;
$light-gray = #efefee;
$greyish = #b5b5b4;
$greyish-brown = #444444;
$gray = #d8d8d8;
$very-light-pink = #fff4f4;
$very-light-pink-two = #ffeae9;
$clear-blue = #1e6dff;
