@font-face {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 300;
  src: local('Museo Sans Cyrl'), url('../fonts/MuseoSansCyrlLight.woff') format('woff');
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  src: local('Museo Sans Cyrl'), url('../fonts/MuseoSansCyrlMedium.woff') format('woff');
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 700;
  src: local('Museo Sans Cyrl'), url('../fonts/MuseoSansCyrlBold.woff') format('woff');
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: 400;
  src: local('Play fair Display'), url('../fonts/PlayfairDisplay.woff') format('woff');
}
