.t-page
  margin 0
  font-family "Museo Sans Cyrl"
  font-weight 500
  line-height 1

  &_overlay
    &_lock
      overflow hidden

.t-header
  &__top
    display none

    @media (min-width $desktop)
      display flex
      align-items center
      justify-content space-between
      padding 0 100px

  &__bar
    display flex

  &__container
    display flex
    justify-content space-between
    align-items center
    padding 12px 15px

    @media (min-width $desktop)
      justify-content center
      padding 30px 0

  &__burger
    @media (min-width $desktop)
      display none

  &__message-cloud
    @media (min-width $desktop)
      display none

  &__logo
    width 57px
    height 40px

    @media (min-width $desktop)
      width 123px
      height 86px

.t-tabs
  &__container
    padding 19px 5px 13px
    text-align center

    @media (min-width $tablet)
      padding 25px 5px 51px

.t-catalog

  &__delivery
    display none
    margin-bottom 55px

    @media (min-width $desktop)
      display block

  &__container
    padding 0 0 80px

  &__list
    padding 0 0 0 15px
    background white

  &__menu
    @media (min-width $desktop)
      display none

  &__button
    display none
    padding 30px 10px 45px
    text-align center

    @media (min-width $desktop)
      display block

.t-catalog-filter

  &__button
    display none
    padding 15px
    position absolute
    left 16px
    bottom 16px
    right 16px

  &_choice &__button
    display block

.t-foo
  background $very-light-pink

  &__container
    @media (min-width $tablet)
      display flex
      align-items center
      justify-content space-between
      padding 25px

    @media (min-width $large-desktop)
      padding 25px 100px

  &__nav
    padding 7px 0 3px

    @media (min-width $tablet)
      width 480px

    @media (min-width $desktop)
      width 720px

  &__social
    padding 13px 0 20px

    @media (min-width $tablet)
      padding 0
      width 200px

  &__copy
    padding 15px 0
    background $very-light-pink-two

.t-container
  @media (min-width $tablet)
    width $tablet
    margin auto

  @media (min-width $desktop)
    width $container-desktop

  @media (min-width $large-desktop)
    width $container-large-desktop

.tab-content
  &>.tab-pane
    display none
  &>.tab-pane.active
    display block

.t-menu-phone
  display none
  position fixed
  top 0
  left 0
  z-index 10
  width 100vw
  height 100vh

  &_open
    display block

.t-banner-top
  box-sizing border-box
  position relative
  display block
  height 70px
  padding 11px 10px 0
  background $dark-indigo
  text-align center
  text-decoration none

  &_closed
    display none

  &__close
    position absolute
    top 50%
    right 25px
    margin-top -16px
    opacity 0.5
    cursor pointer

    &:hover
      opacity 1

  &__text
    color white
    font-size 36px
    line-height 43px
    letter-spacing -1.1px
