$container-desktop = 992px;
$desktop = $container-desktop + 20px;

$container-large-desktop = 1200px;
$large-desktop = $container-large-desktop + 20px;

$tablet = 768px;
$container-tablet = $tablet;

$mobile-md = 375px;
