mixin i-burger
  svg.a-icon(width="20" height="12"): use(xlink:href="images/sprite.svg#burger")
    
mixin i-message-cloud
  svg.a-icon(width="22" height="24"): use(xlink:href="images/sprite.svg#message-cloud" stroke="")

mixin i-disclosure-indicator
  svg.a-icon(width="13" height="8"): use(xlink:href="images/sprite.svg#disclosure-indicator")

mixin i-social-vk
  svg.a-icon(width="24" height="24"): use(xlink:href="images/sprite.svg#social-vk")

mixin i-social-in
  svg.a-icon(width="24" height="24"): use(xlink:href="images/sprite.svg#social-in")
      
mixin i-social-fb
  svg.a-icon(width="24" height="24"): use(xlink:href="images/sprite.svg#social-fb")
    
mixin i-close
  svg.a-icon(width="16" height="16"): use(xlink:href="images/sprite.svg#close")

mixin i-flag-russia
  svg.a-icon(width="20" height="12"): use(xlink:href="images/sprite.svg#flag-russia")

mixin i-banner-close
  img.a-icon(src="images/sprite_source/banner-close.svg" width="32" height="32")
